DATABASE_URL="postgresql://postgres:postgres@localhost:5432/portal_advogado?schema=public"
JWT_SECRET="portal-ia-advogados-super-secret-key-2026"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_SECRET="portal-ia-advogados-refresh-secret-2026"
JWT_REFRESH_EXPIRES_IN="365d"
OPENAI_API_KEY=""

VAPID_PUBLIC_KEY="BGMbSbEroytm7k9H7Hq0IJ-uWTFvfgk8j8wauiRp5xJxwjcswLXXfPPy2tfqCzmhT9eqnAiCPYq8W-tU99AAVFk"
VAPID_PRIVATE_KEY="0YAuI9aT4UuXLaUqOaH-7bhITBQeynorMzEwhGhHlhw"
VAPID_SUBJECT="mailto:admin@portaladvocacia.com.br"
