PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/portal_advogado?schema=public"
JWT_SECRET="portal-ia-advogados-super-secret-key-2026"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_SECRET="portal-ia-advogados-refresh-secret-2026"
JWT_REFRESH_EXPIRES_IN="365d"
OPENAI_API_KEY=""
